@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.wrapper__block {
  display: flex;
  justify-content: center;
  gap: 70px;
  margin: 20px;
  font-family: "Poppins";
}
.wrapper__image,
.wrapper__title {
  width: 420px;
  height: 560px;
}

.wrapper__image img {
  width: 420px;
  height: 560px;
}

.wrapper__title {
  background: #6e331a;
  display: grid;
  color: #ffffff;
  grid-template-rows: 1fr 5fr;
}

.title__header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title__body h1 {
  width: 240px;
  height: 160px;
  font-family: Lora;
  font-size: 56px;
  font-weight: 400;
  line-height: 80px;
  text-align: center;
  margin: 20px;
}

.title__body p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  width: 240px;
}
